<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.banet.ilooker">

    <uses-feature android:name="android.hardware.telephony" /> <!-- 전화걸려올경우 상대방 정보 확인 -->
    <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.NEW_OUTGOING_CALL" />
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>


    출처: https://forest71.tistory.com/185 [SW 개발이 좋은 사람]

    <application
        android:name=".ILookerApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_ailooker_white"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@drawable/ic_launcher_ailooker_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="Instantiatable">
        <activity
            android:name=".activity.SettingsActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".activity.QuestionDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.QuestionRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.NotiDetailInfoActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.BlockPhoneNumberDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.RecentLogDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.DetailInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.EventDetailInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.PopUpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent" />
        <activity
            android:name=".activity.MainActivity"
            android:screenOrientation="portrait">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>
        <activity
            android:name=".activity.SplashActivity"
            android:screenOrientation="portrait">

             <intent-filter>
             <action android:name="android.intent.action.MAIN" />


             <category android:name="android.intent.category.LAUNCHER" />
             </intent-filter>
        </activity>

        <service
            android:name=".service.CallingService"
            android:enabled="true"
            android:exported="true" />
    </application>

</manifest>